:host{
  display:block;
  width:var(--file-panel-expanded-width);
  height:fit-content;
  overflow:hidden;
  padding:.5em;
  background-color: azure;
}

.container{
  --line-height:1em;
}
.container div:not(.root, .folder):hover{
  background-color: white;
}
.container > .root{
  padding-left:.5em;
}

.container .folder{
  overflow: hidden;
}
.container .folder.closed{
  height:var(--line-height);
}

.container .folder{
  padding-left:1em;
}
.container .file{
  padding-left:.5em;
}
.container > .root > .folder,
.container > .root > .file{
  padding-left:0;
}

.container .label{
  line-height: var(--line-height);
  white-space: nowrap;
}
.container .label:before{
  content:"\0276F";
  margin-left:.25em;
  margin-right:.5em;
  display: inline-block;
  transform: rotate(90deg);
  transition:.15s transform;
}
.container .folder.closed > .label:before{
  content:"\0276F";
  display: inline-block;
  transform: rotate(0);
}


.container .file{
  line-height: var(--line-height);
  white-space: nowrap;
}


